{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="register">
    <h1>Registration form</h1>
       <form action="" method="POST">
            {% csrf_token %}
              <input type="text" name="username" required placeholder="username">
              <br>
              <input type="email" name="email" required placeholder="email">
              <br>
              <input type="password" name="password" required placeholder="password">
              <br>
              <input type="password" name="password2" required placeholder="conform password">
              <br>
              <button type="submit">Submit</button>
       </form>
  </div>
{% endblock %}

